<div class="container-fluid main-content">
  
    <div class="row mb-3">
      <div class="col-md-6">
        <!-- add breadcrumb here -->
          <p class="breadcrumb">
            Assets > Divers > Add New Driver
          </p>
      </div>
  
      <div class="col-md-6 pre-next-render text-end">
  
        <button class="btn btn-previous">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Previous
        </button>
  
        <button class="btn btn-next">
           Next
           <i class="fa fa-arrow-right" aria-hidden="true"></i>
       </button>
  
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 component-render">
        <router-outlet>
          <app-header-content></app-header-content>
        </router-outlet>
      </div>
    </div>

</div>
