/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


html, body { height: 100%; }

body {
     margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f3effa !important;
    margin: 25px !important;
 }

.btn-next {
   background-color: #7952b3;
   color: white;
   font-weight: 200;
}

.btn-previous {
   background-color: rgb(214, 211, 211);
   font-weight: 200;
}
